{% extends "administration/administration_base.html" %}

{% load bootstrap4 %}



{% block administration_clients %}

{% if request.user.is_authenticated  %} 

  {% if not form.instance.pk %}
  Create client
  {% else %}
  Update client 
  {% endif %}
  
<form method="POST"  id="postForm">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
		<button type="submit" class="btn btn-primary btn-large">Submit</button>
		
	{% endbuttons %}
</form>

{% endif %}

{% endblock %}