{% extends "administration/administration_base.html" %}
{% load bootstrap4 %}
{% block administration_clients %}
{% if request.user.is_authenticated  %} 

<h4>Search client</h4>
 
 <form method="GET"  action="{% url 'administration:searchresults' %}"  >
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" id="search_submit" name = "search_submit" type="submit" > Search</button>
  </form>
 
 
 
 
 <!--     
    <form method="GET" action="{% url 'administration:searchresults' %}" >
	 <input name="q" type="text" placeholder="Search...">
	</form>
-->
	
{% endif %}
{% endblock %}

