{% extends "administration/administration_base.html" %}

{% load bootstrap4 %}


{% block administration_clients %}

{% if request.user.is_authenticated  %} 

    <h2>Client Details:</h2>

    <p>First Name: {{client_details.first_name}}</p>
     <p>Last Name: {{client_details.last_name}}</p>
    <p>Email: {{client_details.email}}</p>
    <p>Address: {{client_details.address}}</p>
    <p>CNP: {{client_details.cnp_nbr}}</p>


 <p><a class='btn btn-warning' href="{% url 'administration:update' pk=client_details.pk %}"> Update </a></p>   
 

{% endif %}


{% endblock %}


    <!--    {% for client in accounts_details.accounts.all %}
        ...
      {% endfor %}

  <div class="container">
  <p><a class='btn btn-warning' href="{% url 'sixth_app:update' pk=school_details.pk %}"> Update </a></p>   
 <p><a class='btn btn-warning' href="{% url 'sixth_app:delete' pk=school_details.pk %}"> Delete </a></p>
-->

