{% extends "base.html" %}

{# at the terminal, run pip install django-bootstrap4 #}
{% load bootstrap4 %}


{% block content %}
<div class="container">
  <h1>Reset password</h1>

<!-- form default for LoginView: A Form object representing the AuthenticationForm. Codul de mai jos e luat din docs -->


 <form method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form form %} 
    {% buttons %}
      <button type="submit" class="btn btn-primary">Reset Password</button>
    {% endbuttons %}
  </form> 
 

{% endblock %}
